  body {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  /* Распорка */

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  iframe {
    border: 0;
  }
  /* Центровщик, задаём ширину страницы */
  /* Заливаем все основные блоки фоновым цветом */

  .site-wrapper {
    position: relative;
    width: 1200px;
    padding: 0px 0px;
    margin: auto auto;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
  }
  /* 6% отступы для основных блоков */

  .sixpercent-wrapper {
    padding: 0px 6%;
  }
  /* Лого в навигационном меню */

  .main-header {
    background-color: #ffffff;
    color: #000000;
    position: relative;
    min-height: 56px;
  }

  a.header-logo {
    display: block;
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -69px;
    background-image: url("../img/topmenu-logo.png");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 138px;
    min-height: 70px;
  }

  nav.main-navigation {
    min-height: 56px;
  }

  .main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .main-navigation li {
    display: block;
    float: left;
    width: 20%;
    padding-top: 15px;
  }

  .main-navigation li:nth-child(1) {
    padding-left: 6%;
  }

  .main-navigation li:nth-child(3) {
    float: right;
    padding-right: 6%;
    text-align: right;
  }

  .main-navigation li:nth-child(4) {
    float: right;
    text-align: right;
  }
  /* Ссылки в навигации - блоки, задаем им размер и стилизуем */

  .main-navigation a {
    line-height: 26px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
  }

  .main-navigation a:hover {
    color: #81b3d2;
  }

  .main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
  }

  a.menu-active,
  a.menu-active:hover,
  a.menu-active:active {
    color: #766357;
    cursor: default;
  }

  div.sedona-welcome {
    min-height: 724px;
  }

  div.sedona-bigphoto {
    position: relative;
    background-color: #deedf5;
    color: #000000;
    background-image: url("../img/index-1200/welcome-photo.jpg");
    background-size: 1200px 800px;
    background-repeat: no-repeat;
    background-position: 0 -83px;
    height: 508px;
  }

  .sedona-bigphoto::after {
    content: "";
    position: absolute;
    min-height: 57px;
    width: 100%;
    background-image: url("../img/index-1200/welcome-white-mask.png");
    background-color: transparent;
    background-repeat: no-repeat;
    bottom: 0px;
  }

  div.bigphoto-text {
    position: absolute;
    top: 76px;
    left: 50%;
    width: 458px;
    height: 352px;
    margin-left: -229px;
  }
  /* div.bigphoto-whitemask {
    position: absolute;
    min-height: 57px;
    width: 100%;
    background-image: url("../img/index-1200/welcome-white-mask.png");
    background-color: transparent;
    background-repeat: no-repeat;
    bottom: 0px;
  } */

  div.sedona-description {
    height: 216px;
    background-color: #ffffff;
  }

  div.description-header {
    padding: 0px 316px;
    margin: 0 auto;
    padding-top: 60px;
  }

  .description-header h1 {
    margin: 0;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
  }

  .description-paragraph {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding-top: 28px;
  }
  /* Настраиваем блоки фич Седоны */

  .fact-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    min-height: 256px;
  }

  .fact {
    flex: 1 1 calc(33.33% - 96px);
    padding: 0 48px;
    padding-top: 55px;
    padding-bottom: 52px;
    color: #ffffff;
    background-color: #81b3d2;
  }

  .fact.pictured {
    position: relative;
    flex-basis: calc(100% - 96px);
    overflow: hidden;
  }

  .fact.pictured img {
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    width: 66.67%;
    margin: auto 0;
  }

  .fact.pictured.right-side {
    padding-right: calc(66.67% + 48px);
  }

  .fact.pictured.right-side img {
    right: 0;
  }

  .fact.pictured.left-side {
    padding-left: calc(66.67% + 48px);
  }

  .fact.pictured.left-side img {
    left: 0;
  }

  .fact-nophoto {
    display: inline-block;
    vertical-align: top;
    min-height: 256px;
    width: 400px;
    color: #000000;
    background-color: #eeeeee;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  /* Ровняем текст факта по центру */

  .fact h2 {
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    width: 151px;
    margin: 0 auto;
  }

  .fact span {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;
    margin-top: 24px;
  }

  .fact-nophoto h2,
  p {
    margin: 0;
    text-align: center;
  }

  .fact-nophoto h2 {
    width: 118px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 21px;
    margin-top: 47px;
    font-weight: bold;
  }

  .fact-nophoto span {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 24px;
  }

  .fact p {
    margin: 0 auto;
    margin-top: 20px;
  }

  .fact-nophoto p {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 69px;
  }

  div.features-block {
    background-color: #ffffff;
    color: #000000;
    font-size: 0;
    min-height: 330px;
  }

  div.feature {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    min-height: 330px;
    font-size: 14px;
    line-height: 21px;
  }

  .feature h2 {
    margin: 0;
    font-size: 21px;
    line-height: 21px;
    margin-top: 29px;
    text-align: center;
  }

  .feature p {
    padding: 0 50px;
    margin: 25px auto;
  }
  /* Настраиваем иконки фич Седоны из спрайта */

  .accommodation-img,
  .food-img,
  .souvenirs-img {
    display: block;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 76px;
    background-repeat: no-repeat;
  }

  .feature-img {
    background-image: url("../img/index-1200/features-sprite.png");
    background-color: transparent;
  }

  .accommodation-img {
    background-position: 0px 0px;
  }

  .food-img {
    background-position: -400px 0px;
  }

  .souvenirs-img {
    background-position: -800px 0px;
  }
  /* Добалвяем карту Седоны */

  .facts-textonly {
    font-size: 0;
    min-height: 256px;
  }

  .interest {
    background-color: #ffffff;
    color: #000000;
    padding: 0 316px;
    padding-top: 56px;
    min-height: 235px;
    text-align: center;
    position: relative;
  }

  .interest b {
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
  }

  .interest p {
    margin: 0 auto;
    margin-top: 25px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  /* Кнопка поиска гостиницы */

  .search-btn {
    width: 568px;
    min-height: 86px;
    padding: 0;
    margin: 0;
    margin-top: 47px;
    border: none;
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .search-popup {
    display: block;
    position: absolute;
    width: 568px;
    left: 50%;
    margin-left: -284px;
    min-height: 395px;
    bottom: -395px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-color: #ffffff;
  }
  /* Стилизуем поп-ап */

  .search-settings {
    /* Центруем */
    margin: 55px 55px 0 55px;
    font-size: 0;
  }

  .search-settings input {
    outline: none;
  }

  .search-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
    float: left;
    padding-top: 6px;
  }

  .children-amount .search-text {
    padding-left: 50px;
  }

  .checkin-date,
  .checkout-date {
    width: 458px;
    height: 38px;
    margin-bottom: 29px;
  }

  .checkin-date-block,
  .checkout-date-block {
    display: inline-block;
    width: 346px;
    height: 38px;
    vertical-align: middle;
    position: relative;
    float: right;
  }

  input.calendar {
    width: 346px;
    height: 38px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f2f2f2;
    padding-left: 12px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
  }

  input.calendar:hover {
    background-color: #ebebeb;
  }

  input.calendar:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }

  input.calendar-btn {
    width: 22px;
    height: 22px;
    background-image: url("../img/index-1200/search-calendar-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 9px;
    cursor: pointer;
  }

  input.calendar-btn:hover {
    background-position: 0 -39px;
  }

  input.calendar-btn:active {
    background-position: 0 -77px;
  }

  .people-amount {
    width: 458px;
    height: 38px;
  }

  .adults-amount {
    float: left;
    width: 226px;
    height: 38px;
  }

  .children-amount {
    float: right;
    width: 229px;
    height: 38px;
  }

  .adults-amount-block {
    display: inline-block;
    vertical-align: middle;
    float: right;
    width: 114px;
    height: 38px;
    position: relative;
  }

  .adults-amount-block input,
  .children-amount-block input {
    padding: 0;
  }

  .children-amount-block {
    display: inline-block;
    vertical-align: middle;
    float: right;
    width: 114px;
    height: 38px;
    position: relative;
  }

  .amount-btn {
    display: block;
    width: 11px;
    height: 11px;
    background-image: url("../img/index-1200/search-form-minus_plus_icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: black;
    font-size: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 14px;
    cursor: pointer;
  }

  .adults-minus-btn,
  .children-minus-btn {
    left: 14px;
  }

  .adults-minus-btn:hover,
  .children-minus-btn:hover {
    background-position: 0 -39px;
  }

  .adults-minus-btn:active,
  .children-minus-btn:active {
    background-position: 0 -77px;
  }

  .adults-plus-btn,
  .children-plus-btn {
    background-position: -76px 0;
    right: 14px;
  }

  .adults-plus-btn:hover,
  .children-plus-btn:hover {
    background-position: -76px -39px;
    right: 14px;
  }

  .adults-plus-btn:active,
  .children-plus-btn:active {
    background-position: -76px -77px;
    right: 14px;
  }

  input.amount {
    width: 114px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 26px;
  }

  .popup-btn {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 54px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

  .popup-btn:hover {
    background-color: #669ec0;
  }

  .popup-btn:active {
    color: rgba(255, 255, 255, 0.3)
  }

  div.map {
    height: 593px;
    background-color: #f2f2f2;
  }
  /* Фильтр каталога отелей */

  .filter {
    color: #ffffff;
    min-height: 217px;
    background-image: url("../img/catalog-1200/filter-background.jpg");
    background-color: #273a41;
    background-repeat: no-repeat;
    background-size: 1200px 800px;
    background-position: 0px -295px;
  }

  .filter fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 27px;
    font-size: 14px;
    line-height: 21px;
  }

  .filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
  }

  .filter-infrastructure legend,
  .filter-accommodation legend {
    margin-bottom: 24px;
  }

  .filter-price legend {
    margin-bottom: 10px;
  }

  .filter-item {
    position: relative;
    margin-bottom: 24px;
    font-size: 0;
  }

  .filter-infrastructure .filter-item {
    margin-bottom: 24px;
  }

  .filter-infrastructure .filter-item:nth-child(3) {
    margin-bottom: 25px;
  }

  .filter-accommodation .filter-item {
    margin-bottom: 25px;
  }

  .filter-accommodation .filter-item:nth-child(3) {
    margin-bottom: 24px;
  }

  .checkbox-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    padding-left: 26px;
  }

  .filter-accommodation .checkbox-label {
    padding-left: 28px;
  }
  /* Отключаем "Родной" чекбокс */

  .filter-item input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
  }
  /* Устанавливаем изображение "своего" чекбокса */

  .filter-item input[type="checkbox"] + .checkbox-label::before {
    content: "";
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 22px;
    background-image: url("../img/catalog-1200/checkboxes.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .filter-item input[type="checkbox"]:checked + .checkbox-label::before {
    background-position: right top;
  }

  .filter-item input[type="checkbox"]:disabled + + .checkbox-label::before {
    background-position: left bottom;
  }

  .filter-item input[type="checkbox"]:checked:disabled + + .checkbox-label::before {
    background-position: right bottom;
  }

  .filter-infrastructure {
    width: 240px;
    float: left;
  }

  fieldset.filter-accommodation {
    float: left;
    margin-left: 15px;
    width: 288px;
  }

  fieldset.filter-price {
    color: #ffffff;
    width: 328px;
    float: right;
  }
  /* Фильтр цены */

  .filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  .price-controls {
    position: relative;
    width: 314px;
    height: 32px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
  }

  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% + 1px);
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
  }

  .price-controls-block {
    display: inline-block;
    vertical-align: top;
    width: 92px;
    padding-left: 65px;
    font-size: 14px;
    line-height: 21px;
    padding-top: 5px;
  }

  .price-controls-block:last-child {
    width: 103px;
    padding-left: 54px;
  }

  .price-controls label {
    cursor: pointer;
  }

  .price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
  }

  .range-controls {
    position: relative;
    margin-left: 11px;
    width: 317px;
    margin-bottom: 32px;
  }

  .range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
  }

  .range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
  }

  .range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }

  .range-toggle:hover {
    background: #1c4f80;
  }

  .range-toggle-min {
    left: 0;
  }

  .range-toggle-max {
    left: 80%;
  }
  /**/

  .filter-button input {
    display: block;
    width: 137px;
    height: 36px;
    margin: 0 auto;
    padding-top: 4px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }

  .filter-button input:hover {
    color: #000000;
    background-color: #ffffff;
  }
  /* Шапка результатов поиска отелей */

  .results-header {
    background-color: #ffffff;
    color: #000000;
    min-height: 86px;
    border-bottom: 1px solid #e5e5e5;
  }

  .sorting-textblock {
    width: 240px;
    float: left;
  }

  .sorting-textblock span {
    display: inline-block;
    vertical-align: top;
  }

  span.found-total {
    padding-top: 31px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }

  span.sorting-text {
    display: inline-block;
    vertical-align: middle;
    padding-top: 36px;
    margin-left: 43px;
    font-size: 12px;
    line-height: 18px;
  }
  /* Тип сортировки */

  .sorting-block {
    float: left;
    width: 288px;
    padding-top: 35px;
    padding-left: 38px;
    font-size: 12px;
    line-height: 18px;
  }

  .sorting-block a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }

  .sorting-block a:last-child {
    margin-right: 0;
  }

  .sorting-block-active {
    color: #81b3d2;
  }

  .sorting-block-passive {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom-width: thin;
    border-bottom-style: dotted;
    border-bottom-color: #81b3d2;
  }

  .sorting-block-passive:hover {
    color: #81b3d2;
  }

  .sorting-block-passive:active {
    border: none;
    color: #000000;
  }
  /* Стрелки сортировки : */

  .sorting-arrows {
    font-size: 0;
    float: right;
    padding-top: 34px;
    margin-right: 1px;
    text-align: right;
  }

  .arrow {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-decoration: none;
    color: #cccccc;
    width: 11px;
    height: 10px;
    margin-right: 12px;
  }

  .arrow:hover {
    color: #000000;
  }

  .arrow:active {
    color: #81b3d2;
  }

  .arrow-active,
  .arrow-active:hover,
  .arrow-active:active {
    color: #81b3d2;
  }

  .arrow:last-child {
    margin-right: 0;
  }

  .arrow-ascending {
    background-position: 0px 0px;
  }

  .arrow-descending {
    background-position: -28px -66px;
  }
  /* Результат поиска отелей */

  main {
    background-color: #ffffff;
    color: #000000;
  }

  .accommodation-result {
    margin-top: 30px;
    min-height: 120px;
    border-bottom: 1px solid #e5e5e5;
  }

  .result-leftpart {
    width: 528px;
    float: left;
  }

  .accommodation-result img {
    display: inline-block;
    vertical-align: top;
  }

  .result-caption {
    display: inline-block;
    vertical-align: top;
    margin-left: 26px;
  }
  /* Состояния ссылок-названий вариантов размещения */

  a.result-hotelname {
    display: block;
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    margin: 0;
    margin-top: -5px;
    margin-bottom: 8px;
  }

  a.result-hotelname:hover {
    color: #81b3d2;
  }

  a.result-hotelname:active {
    color: rgba(0, 0, 0, 0.3);
  }
  /*Блок с указанием типа размещения и его цены */

  .result-caption span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
  }

  span.result-type {
    width: 110px;
  }

  span.result-startprice {
    width: 142px;
    margin-left: 2px;
  }
  /* Блок кнопок ПОДРОБНЕЕ и ЗАБРОНИРОВАТЬ */

  div.result-btns {
    margin-top: 13px;
  }

  .result-btns a {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
  }
  /* ПОДРОБНЕЕ */

  .moreinfo-btn {
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
  }

  .moreinfo-btn:hover {
    background-color: #669ec0;
  }

  .moreinfo-btn:active {
    background-color: #669ec0;
    color: rgba(255, 255, 255, 0.3);
  }
  /* ЗАБРОНИРОВАТЬ */

  .book-btn {
    margin-left: 3px;
    width: 142px;
    height: 27px;
    background-color: #766357;
  }

  .book-btn:hover {
    background-color: #604e43;
  }

  .book-btn:active {
    background-color: #604e43;
    color: rgba(255, 255, 255, 0.3);
  }
  /* Звёзды отелей*/

  div.result-rating {
    width: 241px;
    height: 90px;
    float: right;
  }

  .stars {
    display: block;
    font-size: 0;
    width: 89px;
    height: 17px;
    text-align: right;
    margin-left: auto;
    background-image: url("../img/catalog-1200/stars.png");
    background-repeat: no-repeat;
  }

  .four-stars {
    width: 89px;
    height: 17px;
  }

  .three-stars {
    width: 65px;
    height: 17px;
  }

  .two-stars {
    width: 42px;
    height: 17px;
  }

  .textrating {
    display: block;
    box-sizing: border-box;
    width: 110px;
    height: 27px;
    padding-top: 4px;
    margin-left: auto;
    margin-right: 1px;
    margin-top: 46px;
    color: #666666;
    text-align: center;
    background-color: #f2f2f2;
  }
  /*
Создаем фундамент социальной кнопки, задаем размер и цвет фона
Убираем текст у социальных кнопок
Настраиваем иконки социальных кнопок из спрайта
*/

  footer {
    background-color: #ffffff;
    color: #000000;
  }

  .footer-opacity {
    width: 1200px;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
  }

  div.hashtag,
  div.social,
  div.copyrights {
    min-height: 120px;
    width: 400px;
    text-align: center;
    float: left;
  }

  div.copyrights {
    float: right;
  }

  .hashtag b {
    display: block;
    margin-top: 46.5px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
  /* Кнопки соцсетей */

  .social {
    margin-left: -1px;
    font-size: 0;
  }

  a.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin-top: 36px;
    margin-right: 6px;
    background-image: url("../img/social.png");
    background-repeat: no-repeat;
  }

  a.social-btn:last-child {
    margin-right: 0;
  }

  span.social-btn-text {
    display: none;
  }
  /* Состояния соцсетей */

  a.social-btn:hover,
  a.social-btn:active {
    background-color: #669ec0;
  }

  a.social-btn-twitter {
    background-position: 15px 13px;
  }

  a.social-btn-twitter:active {
    background-position: 15px -43px;
  }

  a.social-btn-fb {
    background-position: -38px 13px;
  }

  a.social-btn-fb:active {
    background-position: -38px -43px;
  }

  a.social-btn-youtube {
    background-position: -90px 13px;
  }

  a.social-btn-youtube:active {
    background-position: -90px -43px;
  }
  /* Создаем кнопку-ссылку на сайт академии */

  .copyrights p {
    margin-top: 41px;
  }

  .copyrights a {
    display: inline-block;
    vertical-align: middle;
    width: 113px;
    height: 39px;
    margin-left: 8px;
    background-image: url("../img/footer-htmlacademy-logo.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .copyrights a:hover {
    background-position: 0 -48px;
  }

  .copyrights a:active {
    background-position: 0 -95px;
  }

  span.copyrights-text {
    display: inline-block;
    vertical-align: middle;
  }

  span.copyright-btn-text {
    display: none;
  }
  /* Конец */
